export(getExternalIP)
export(getExternalIP.icanhazip)
export(getExternalIP.ifconfig)
export(getExternalIP.whatismyipaddress)
export(getLocation)
export(getLocation.freegeoip)
export(is.connected)
export(is.linux)
export(is.mac)
export(is.windows)
import(RCurl)
import(rjson)
