S3method(addDistanceLatitude,Coordinates)
S3method(addDistanceLatitude,default)
S3method(addDistanceLongitude,Coordinates)
S3method(addDistanceLongitude,default)
S3method(bearing,Coordinates)
S3method(bearing,default)
S3method(destination,Coordinates)
S3method(destination,default)
S3method(haversineDistance,Coordinates)
S3method(haversineDistance,default)
S3method(midpoint,Coordinates)
S3method(midpoint,default)
export(Coordinates)
export(addDistanceLatitude)
export(addDistanceLongitude)
export(bearing)
export(deg2rad)
export(destination)
export(dms2deg)
export(dms2rad)
export(getExternalIP)
export(getExternalIP.appspot)
export(getExternalIP.icanhazip)
export(getExternalIP.ifconfig)
export(getExternalIP.ipecho)
export(getExternalIP.whatismyipaddress)
export(getIpCoordinates)
export(getIpCoordinates.freegeoip)
export(getIpCoordinates.hostip)
export(haversineDistance)
export(is.connected)
export(is.latitude)
export(is.linux)
export(is.longitude)
export(is.mac)
export(is.windows)
export(midpoint)
export(rad2deg)
export(reverseGeocoding)
export(reverseGeocoding.google)
import(RCurl)
import(rjson)
