S3method(addDistanceLatitude,Coordinate)
S3method(addDistanceLatitude,default)
S3method(addDistanceLongitude,Coordinate)
S3method(addDistanceLongitude,default)
S3method(antipode,Coordinate)
S3method(antipode,default)
S3method(bearing,Coordinate)
S3method(bearing,default)
S3method(destination,Coordinate)
S3method(destination,default)
S3method(haversineDistance,Coordinate)
S3method(haversineDistance,default)
S3method(midpoint,Coordinate)
S3method(midpoint,default)
S3method(sphericalDistance,Coordinate)
S3method(sphericalDistance,default)
export(Coordinate)
export(addDistanceLatitude)
export(addDistanceLongitude)
export(antipode)
export(bearing)
export(deg2rad)
export(destination)
export(dms2deg)
export(dms2rad)
export(getExternalIP)
export(getExternalIP.appspot)
export(getExternalIP.icanhazip)
export(getExternalIP.ifconfig)
export(getExternalIP.ipecho)
export(getExternalIP.whatismyipaddress)
export(getIpCoordinates)
export(getIpCoordinates.freegeoip)
export(getIpCoordinates.hostip)
export(haversineDistance)
export(is.connected)
export(is.latitude)
export(is.linux)
export(is.longitude)
export(is.mac)
export(is.windows)
export(midpoint)
export(rad2deg)
export(reverseGeocoding)
export(reverseGeocoding.google)
export(sphericalDistance)
import(RCurl)
import(rjson)
